body {
  padding-top: 56px;
  background-color: #2C2F31 !important;
}

.bg-blue {
  background-color: #0056B3 !important;
}

hr {
  border-color: #00000000 !important;
}

.text-black {
  color: #000 !important;
}

.fake-click {
  cursor: pointer;
}
